<h1>Chat</h1>

<div id="messages">
  <%= turbo_stream_from 'messages' %>
  <%= render @messages %>
</div>

<%= form_with model: @message, id: :new_message, data: { turbo_action: 'submit->messages#create' } do |form| %>
  <%= form.text_field :content, placeholder: 'Enter your message' %>
  <%= form.submit 'Create Message' %>
  
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
